// -----------------------------------------------------
// Mixins / Helpers
// -----------------------------------------------------

@mixin flexbox($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin label {
  color: $white;
  font-family: $f-primary;
  line-height: rem(16);
  letter-spacing: rem(1.5);
  margin-bottom: rem(15);
  //
  @include font-sizes(18, 24);
}
