
.slide-right-tr,
.slide-top-tr {
  backface-visibility: hidden;
  z-index: 1;

  &-enter-active {
    //Appearing
    transition: all $transition;
  }

  &-leave-active {
    // disappear
    transition: all $transition;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}


// Slide right
.slide-right-tr {

  &-enter {
    transform: translateX(20px);
  }

  &-leave-to {
    transform: translateX(20px);
  }
}

// Slide Top
.slide-top-tr {

  &-enter {
    transform: translateY(-10px);
  }

  &-leave-to {
    transform: translateY(-10px);
  }
}
