// -----------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------

%heading-1 {
  margin: 0;
  display: block;
  font-weight: 600;
  letter-spacing: rem(4);
  //
  color: $white;
  font-family: $f-primary;
}

%h1 {
  @extend %heading-1;
  @include font-sizes($h1-font-size-s, $h1-font-size-l);
}

%h2 {
  @extend %heading-1;
  @include font-sizes($h2-font-size-s, $h2-font-size-l);
}
