<template>
  <article class="pairs">
    <section class="pairs__box">
      <h2 class="h2">
        Original
      </h2>
      <span
        v-for="(item, index) in options.original"
        :key="index"
        class="pairs__item"
      >
        {{ item }}
      </span>
    </section>

    <section class="pairs__box">
      <h2 class="h2">
        Generated
      </h2>
      <span
        v-for="(item, index) in getSeq"
        :key="index"
        class="pairs__item"
      >
        {{ item }}
      </span>
    </section>
  </article>
</template>

<script>
// Export
export default {
  name: 'UiPairs',

  // props
  props: {
    options: {
      type: Object,
      default: Object,
    },
  },

  // Computed
  computed: {
    getSeq() {
      return this.generateSeq();
    },
  },

  // Methods
  methods: {
    generateSeq() {
      const generated = [];
      //
      if (this.options.original) {
        const original = this.options.original.split('');
        const oriLength = original.length;
        //
        for (let i = 0; i <= oriLength; i += 1) {
          switch (original[i]) {
            case 'A':
              generated.push('T');
              break;
            case 'C':
              generated.push('G');
              break;
            case 'G':
              generated.push('C');
              break;
            case 'T':
              generated.push('A');
              break;
            default:
          }
        }
      }
      return generated;
    },
  },
};
</script>

<style lang="scss" scoped>
.pairs {
  color: $white;
  //
  @include flexbox(center, space-between);
  margin-top: rem(60);

  &__box,
  &__item {
    border-radius: $b-radius;
  }

  &__box {
    border: 1px solid $ash;
    //
    @include flexbox(center, space-between);
    //
    flex-direction: column;
    padding: rem(40);
    text-align: center;
    width: 49%;

    .h2 {
      @include h2;
      margin-bottom: rem(40);
    }
  }

  &__item {
    font-family: $f-primary;
    background-color: $black;
    width: rem(80);
    height: rem(80);
    //
    @include font-sizes(30, 46);

    //
    display: block;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    //
    @include max-width(bp(s)) {
      width: rem(60);
      height: rem(50);
    }
  }
}
</style>
