<template>
  <div class="field">
    <!-- Label -->
    <label
      v-if="options.label"
      :for="options.name"
      class="field__label"
    >
      {{ options.label }}:
    </label>

    <!-- Input Box-->
    <div
      class="field__box"
    >
      <!-- Input -->
      <input
        :id="options.name"
        v-model="myModel"
        :name="options.name"
        :placeholder="options.placeholder"
        autocomplete="off"
        type="text"
        class="field__input"
        @input="emitModel"
      >

      <!-- Error -->
      <transition name="slide-top-tr">
        <span
          v-if="options.error"
          class="field__error"
        >
          {{ options.error }}
        </span>
      </transition>
    </div>
  </div>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';

// Export
export default {
  name: 'ModuleInput',

  // Props
  props: {
    options: {
      type: Object,
      default: Object,
    },
  },

  // Data
  data() {
    return {
      myModel: null,
    };
  },

  // Watcher
  watch: {
    model: {
      immediate: true,
      handler() {
        this.myModel = this.options.watcher;
      },
    },
  },

  // Methods
  methods: {
    ...mapActions('dna', [
      'requestSaveDna',
    ]),
    emitModel() {
      this.requestSaveDna(this.myModel);
      this.$emit('emit-model', this.myModel);
    },
  },
};
</script>

<style lang="scss" scoped>
.field {
  width: 100%;

  &__label {
    @include label;
  }

  &__label,
  &__input {
    display: block;
  }

  &__box {
    position: relative;
  }

  &__input {
    color: $black;
    background: $white;
    transition: $transition;
    border-radius: $b-radius;
    border: 2px solid $border;
    font-family: $f-secondary;
    //
    @include font-sizes(14, 18);
    //
    outline: 0;
    width: 100%;
    height: rem(60);
    padding: rem(12) rem(16);
    text-transform: uppercase;

    &:focus {
      border: 5px solid $aqua;
    }
  }

  &__input::placeholder {
    color: $copy;
    font-family: $f-secondary;
    transition: $timing $easeInOutQuint;
    //
    text-transform: none;
  }

  &__error {
    color: $gold;
    font-family: $f-secondary;
    //
    @include font-sizes(12, 16);
    //
    left: 0%;
    right: 0%;
    top: 110%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
  }
}
</style>
