html {
  overflow-x: hidden !important;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
}

* {
  box-sizing: border-box !important;
}

// For Safari
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  -webkit-transform: translate(10px, 0);
  -o-transform: all 0.2s linear;
  transform: translate(10px, 0);

  opacity: 0;
}


[placeholder]:focus::-moz-placeholder {
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;

  -moz-transform: translate(10px, 0);
  transform: translate(10px, 0);

  opacity: 0;
}


.group {
  width: 90%;
  margin: 0 auto;
  max-width: rem(1400);
  //
  @include max-width(bp(s)) {
    width: 95%;
  }
}
