<template>
  <main class="home">
    <article class="group">
      <!-- Title -->
      <h1 class="h1">
        DNA Sequencer
      </h1>

      <!-- Module Input -->
      <module-input
        :options="{
          name: 'dna-seq',
          label: 'DNA Sequence',
          placeholder: 'Please enter your DNA sequence',
          error: errorMsg,
          watcher: dnaSeq ? dnaSeq.toUpperCase() : null,
        }"
        @emit-model="getModel($event)"
      />

      <!-- Button -->
      <button
        class="home__cta"
        @click.left.prevent="generateDna"
      >
        Generate
      </button>

      <!-- Ui Pairs -->
      <transition name="slide-right-tr">
        <ui-pairs
          v-if="showSequences && !test && dnaSeq !== ''"
          :options="{
            original: dnaSeq ? dnaSeq.toUpperCase() : null,
          }"
        />
      </transition>
    </article>
  </main>
</template>

<script>
// Vuex
import { mapGetters } from 'vuex';

// Modules
import ModuleInput from '@/components/modules/Input';

// Uis
import UiPairs from '@/components/uis/Pairs';

// Export
export default {
  name: 'Home',

  // Components
  components: {
    // Modules
    ModuleInput,

    // Uis
    UiPairs,
  },

  // Data
  data() {
    return {
      sequence: null,
      errorMsg: null,
      showSequences: false,
    };
  },

  // Computed
  computed: {
    ...mapGetters('dna', [
      'dnaSeq',
    ]),
  },

  // Methods
  methods: {
    validation(str) {
      const pattern = /^[actgACTG]+$/;
      const whiteSpace = /^\s*$/;
      // Check for base DNA
      this.test = !pattern.test(str) && !whiteSpace.test(str);
      if (this.test) {
        this.errorMsg = 'Please enter a valid DNA base like adenine (A), cytosine (C), guanine (G), and thymine (T).';

        setTimeout(() => {
          this.errorMsg = null;
        }, 3000);

        return;
      }
    },

    getModel(e) {
      this.validation(e);
      this.sequence = e;
    },

    generateDna() {
      this.validation(this.dnaSeq);
      this.showSequences = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  background-color: $neo-dark;
  //
  padding: rem(100) 0;
  min-height: 100vh;

  .h1 {
    @include h1;
    //
    text-align: center;
    margin-bottom: rem(80);
  }

  &__cta {
    font-family: $f-secondary;
    border-radius: $b-radius;
    background-color: $secondary;
    color: $white;
    transition: $transition;
    //
    @include font-sizes(16, 20);
    //
    display: block;
    margin: rem(80) auto 0;
    text-align: center;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: rem(10) rem(40);
    letter-spacing: rem(2);
    cursor: pointer;

    &:hover {
      background-color: darken($secondary, 5%);
    }
  }
}
</style>
